* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"orbitron",serif;
}
body {

    background-color:#240000; /*Red Shade*/
    min-height: 100vh;
    opacity: 0;
    transition: background-color 3s ease;
    animation: fade_in 2.5s ease-in forwards;
}
@keyframes fade_in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.player_turn {
    margin: 20px;
    text-align: center;
    color: white;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: 900;
    color: #ffd700;
   
}

.game_container {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.game_grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 380px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*top: 50% and left: 50% makes the left top corner at the center
    translate(50%,50%) moves half of it's own width and height back up and left.*/
    transform: translate(-50%,-42%);
    gap: 10px;
}

.cell {
    margin: 10px;
    position: relative;
    width: 100px;
    height: 100px;

} 
.cell.no_element {
    border-radius: 12px;
}
.cell.no_element.x_turn:hover {
    border: 1px solid rgb(158, 78, 78);
    cursor: pointer;
}
.cell.no_element.o_turn:hover {
    border: 1px solid rgb(78, 93, 158);
    cursor: pointer;
}
svg {
    position: absolute;
    /*If border is removed, the layout of the grid changes*/
    border: 5px solid transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: -1;

}

.particles span {
    position: absolute;
    /*Even though, display:block, we can set it's height and width explicitly. 
    Diff b/w inline-block and block element is, block element starts on a new line*/
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 5px 1px white;
    z-index: -1;
    animation: float 10s linear infinite;

}
.particles span:nth-child(1) {
    top: 10%;
    left: 20%;
    animation-duration: 12s;
}
.particles span:nth-child(2) {
    top: 20%;
    left: 50%;
    animation-duration: 15s;
}
.particles span:nth-child(3) {
    top: 30%;
    left: 80%;
    animation-duration: 8s;
}
.particles span:nth-child(4) {
    top: 40%;
    left: 90%;
    animation-duration: 17s;
}
.particles span:nth-child(5) {
    top: 50%;
    left: 10%;
    animation-duration: 11s;
}
.particles span:nth-child(6) {
    top: 60%;
    left: 20%;
    animation-duration: 10s;
}
.particles span:nth-child(7) {
    top: 70%;
    left: 20%;
    animation-duration: 18s;
}
.particles span:nth-child(8) {
    top: 80%;
    left: 60%;
    animation-duration: 14s;
}
.particles span:nth-child(9) {
    top: 90%;
    left: 80%;
    animation-duration: 16s;
}
.particles span:nth-child(10) {
    top: 100%;
    left: 60%;
    animation-duration: 9s;
}
.particles span:nth-child(11) {
    top: 15%;
    left: 60%;
    animation-duration: 13s;
}
.particles span:nth-child(12) {
    top: 25%;
    left: 90%;
    animation-duration: 12s;
}
.particles span:nth-child(13) {
    top: 35%;
    left: 20%;
    animation-duration: 20s;
}
.particles span:nth-child(14) {
    top: 45%;
    left: 30%;
    animation-duration: 19s;
}
.particles span:nth-child(15) {
    top: 90%;
    left: 10%;
    animation-duration: 17s;
}
.particles span:nth-child(16) {
    top: 10%;
    left: 10%;
    animation-duration: 11s;
}
.particles span:nth-child(17) {
    top: 90%;
    left: 90%;
    animation-duration: 12s;
}
@keyframes float {
    0% {transform: translateY(0) translateX(0);opacity: 0.4;}
    50% {transform: translateY(-50px) translateX(20px); opacity: 0.6;}
    100% {transform: translateY(0) translateX(0); opacity: 0.4;}
}

.x_mark, .o_mark {
    width: 120px;
    height: 120px;
    display: block;
}

.x_mark line {
    stroke: #ff004c;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dashoffset: 120;
    stroke-dasharray: 120;
    /*First Drop Shadow is for: Outer Glow; Second Drop Shadow is for Core */
    filter: drop-shadow(0 0 7px #ff004c) drop-shadow(0 0 1px #b60037);
    animation: draw_x 0.8s ease-out forwards;
}

.x_mark line:nth-child(2) {
    animation-delay: 0.5s;
}

@keyframes draw_x {
    0% {stroke-dashoffset :120;}
    100% {stroke-dashoffset: 0;}
}

.o_mark circle {
    stroke: #00bfff;
    stroke-width: 10;
    fill: none;
    stroke-dasharray: 189;
    stroke-dashoffset: 189; /*2 x 3.14 x 30 ~ 189; (r = 30)*/
    filter: drop-shadow(0 0 6px #00bfff) drop-shadow(0 0 1px #0092b6);
    animation: draw_o 1.3s ease-out forwards;
    transform: rotate(90deg) rotateY(180deg);
    transform-origin: 50% 50%;
}

@keyframes draw_o {
    0% {stroke-dashoffset: 189;} 
    100% {stroke-dashoffset: 0;}
}
.winning_line {
    position: relative;
    height: 5px;
    transform: scaleX(0);
    transform-origin: left center;
    z-index: 10;
    background-color: #39ff14;
    filter: drop-shadow(0 0 10px #39ff14) drop-shadow(0 0 10px #1f800b);
}
.winning_line.active {
    transform: scaleX(1);
}

.play_again {
    position: absolute;
    left: 85%;
    top: 50%;
    background-image:linear-gradient(to right,#ff3366,#00bfff);
    color: white;
    width: 160px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    animation: opacity_button 2s forwards;
    border-radius: 10%;
    letter-spacing: 2px;
    display: none;
    
}
.play_again:hover {
    box-shadow: 0 0 15px #00bfff;
    transform: scale(1.05);
    transition: 0.3s;
}